#map {
    width: 100%;
    height: 100vh;
}
#controls {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.disp-layers {
    background-color: #ffffff;
    margin: 3px;
}
.disp-attributes {
    background-color: #ffffff;
    margin: 3px;
}
/* 右上の現在のズームレベル表示 */
#zoom-level {
    position: absolute;
    top: 10px;
    right: 50px;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
/* メモ機能表示 */
#note-display {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5); /* 半透明の背景色 */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    white-space: nowrap; /* 改行されないようにする */
}
.toggle-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: 1em;
}
#legend {
    position: absolute;
    bottom: 60px;
    right: 10px;
    padding: 1px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    display: none; /* 初期状態は非表示 */
}
.legend-toggle {
    position: absolute;
    bottom: 60px;
    right: 10px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 1px;
    border-radius: 3px;
    cursor: pointer;
}

/* 属性情報のスタイル */
#properties-display {
    position: absolute;
    background: white;
    padding: 5px;
    border: 1px solid black;
    display: none;
    z-index: 1000;
    max-width: 200px;
    max-height: 200px;
    overflow-y: auto;
    font-size: 10px;
}
#properties-display table {
    width: 100%;
    border-collapse: collapse;
}
#properties-display td {
    padding: 2px 5px;
    word-break: break-all;
}
#properties-display tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* 両端が移動するスライダーバー */
#newslider-wrapper {
    display: flex;
    align-items: center;
}

#newslider-wrapper label {
    margin-right: 10px; /* スライダーラベルとスライダーの間のスペースを調整 */
}

.slider-container {
    display: flex;
    position: relative;
    width: 120px;
    height: 8px;
}

.slider-track {
    position: absolute;
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
}

.slider-range {
    position: absolute;
    height: 100%;
    background: #888888;
}

.slider-thumb {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #888888;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -4px;
    margin-left: -10px; /* 左に寄せる */
}


/* スマホ向けのスタイル */
@media (max-width: 767px) {
    #legend {
        bottom: 30px;
        right: 5px;
        padding: 0.5px;
        /* スマホで表示する際には他に適用したいスタイルをここに書きます */
    }
    .legend-toggle {
        bottom: 30px;
        right: 5px;
        padding: 0.5px;
        font-size: 0.8em;
        /* スマホで表示する際には他に適用したいスタイルをここに書きます */
    }
    #legend img {
        width: 120px; /* 必要に応じて適切なサイズに変更してください */
        height: auto; /* 縦横比を保持 */
    }
    #note-display {
        font-size: 9px; /* スマホでフォントサイズを小さくする */
    }
}